<footer class="page-footer bg-padrao1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-start fs-10 t-padrao">Veja nosso repositório no GitHub</div>
            <div class="col-md-6 d-flex justify-content-end text-cg-500">
                <a href="https://github.com/Social-Guide" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
        
    </div>

    <div class="footer-copyright bg-padrao text-center py-4 text-cg-500">
        <span class="t-padrao corFooterCopy">Feito por <strong class="text-cg-500">Social Guide</strong>.</span>     
        <h6 class="fs-10 corFooterCopy">Todos os direitos reservados © 2022</h6>
    </div>

</footer>