<div class="container navbar-paddin">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 card my-5 p-3 shadow fixed-left">
            <img src="{{user.foto}}" alt="" class="img-fluid rounded-circle borda shadow" width="60%"
                onerror="this.src = '../../assets/img/user2.jpg'">
            <div class="row d-flex justify-content-center">
                <h5 class="text-center font-weight-bold">{{user.nome}} {{user.sobrenome}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-9">
        <div class="row card mt-5 pt-2 pb-2 mb-4" *ngFor='let item of user.postagens'>
            <div class="col-md-12">
                <div class="d-flex flex-column flex-md-row">
                    <div class="d-flex justify-content-end">
                        <p class="text-cg-500 mt-3"><i class="fa fa-clock-o  mr-1 text-verde" aria-hidden="true"></i>
                            {{item.data | date: 'dd/MM/yyyy'}}</p>
                        <p class="text-cg-500 mt-3"><i class="fa fa-map-marker ml-3 mr-1 text-verde"
                                aria-hidden="true"></i>
                            {{item.tema.descricao}}</p>
                    </div>

                </div>
                <hr class="mr-0 ml-0">
                <h5 class="card-title m-0 mb-3">{{item.titulo}}</h5>
                <img [src]=item.foto width="100%" class="img-fluid" onerror="this.src = '../../assets/img/semfoto.jpg'">
                <p class="card-text mt-3 pb-4">{{item.texto}}</p>

                <a [routerLink]="['/postagem-edit', item.id]" class="btn btn-danger mr-3">Editar</a>
                <a [routerLink]="['/postagem-delete', item.id]" class="btn btn-outline-dark">Apagar</a>
            </div>
        </div>
    </div>
</div>