.fs-14{
    font-size: 14pt !important;
}

/* .corNavbar{
  color: #2c4157 !important;
} */

.navbar{
    z-index: 99999;
}

.out:hover{
    color: #ffffff !important;
}

.fa:hover{
    color: #ffffff !important;
}

a{
    cursor: pointer;
}