.fs-14{
    font-size: 14pt !important;
}

.color-nav{
  background-color: #83c59f !important;
}

.corNavbar{
  color: #2c4157 !important;
}

.bg-padrao{
    background-color: #5b6c7e;
}

.t-padrao{
    color: aliceblue;
}

.out:hover{
    color: #ffffff !important;
}

.fa:hover{
    color: #ffffff !important;
}

a{
    cursor: pointer;
}

.bg-menu{
    background-color: #00B7DA;
}

.margem{
    padding: auto;
}
