.fs-14{
    font-size: 14pt !important;
}

.navbar{
    z-index: 99999;
}

.out:hover{
    color: #ffffff !important;
}

.fa:hover{
    color: #ffffff !important;
}

a{
    cursor: pointer;
}


.fa-moon-o {
	color: #fff;
}

.fa-sun-o {
	color: #f39c12;
}

.fa-sun-o:hover{
    color: #f39c12 !important;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


#btn-theme.dark-theme{
    --bkg-color: #111;
  }
  #btn-theme{
    --bkg-color: #fff;
  }
  #btn-theme{
    background-color: var(--bkg-color) !important;
  }

  .ball.dark-theme{
    --bkg-color: #288593;
  }
  .ball{
    --bkg-color: #288593;
  }
  #ball{
    background-color: var(--bkg-color) !important;
  }

  .card.dark-theme{
    --bkg-color: #111;
  }
  .card{
    --bkg-color: #fff;
  }
  .card{
    background-color: var(--bkg-color) !important;
  }

  .font-theme{
    --bkg-color: #23405B;
  }

  .font-theme.dark-theme{
    --bkg-color: #98E3AD;
  }

  .font-theme{
    color: var(--bkg-color) !important;
  }

