.borda{
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
}

.like{
  margin-left: 5px;
  margin-bottom: 5px;
}

.btn{
  text-align: left !important;
}

.card.dark-theme{
  --bkg-color: #111;
}
.card{
  --bkg-color: #fff;
}
.card{
  background-color: var(--bkg-color) !important;
}