<div class="container-fluid" id="img-bg">

  <div class="row d-flex align-items-center py-5">

    <div class="col-md-6">

      <div class="row d-flex justify-content-center">

        <div class="col-md-6 ml-">

          <div class="t-color">
            <!-- class="mgb-5 color1 my-5 t-color" -->

            <h1 class="text-center mb-3 botao-entrar cor">Entrar</h1>

            <hr>

            <div class="form-group ">
              <label for="usuario" class="cor">Usuário</label>
              <span class="fa fa-envelope"></span>
              <input [(ngModel)]="userLogin.usuario" class="form-control" type="text" name="usuario" id="usuario"
                placeholder="Seu usuário">
            </div>

            <div class="form-group">
              <label for="senha" class="cor">Senha</label>
              <span class="fa fa-lock"></span>
              <input [(ngModel)]="userLogin.senha" class="form-control" type="password" name="senha" id="senha"
                (keyup.enter)="entrar()" placeholder="Sua senha">
            </div>

            <div class="form-group text-center">
              <a href="">Esqueceu a senha?</a>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btcolor mt-3 mr-1 botao" routerLink="/inicio">Voltar</button>
              <button type="submit" class="btn btcolor mt-3 ml-1 botao" (click)="entrar()">Entrar</button>
            </div>

            <hr class="mt-4 mb-4">

            <p class="text-center"> Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se!</a></p>

          </div>

        </div>

      </div>

    </div>

    <div class="col-md-6 row d-flex justify-content-center" id="">

      <img src="https://i.imgur.com/ArmbfVH.png" class="img-entrar img-fluid mr-5" alt="">

    </div>

  </div>

</div>
