#img-bg {
  background: linear-gradient(white, rgba(42, 163, 165, 0.3));

  /*
    background-image: url('../../assets/img/Água1.jpg');
    min-height: 965px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
}

.mgb-5{
    align-items: center;
    padding: 60px;
}
.color1 {
    background-color: white;
    opacity:0.9;
    border-radius: 25px;
}

.t-color{
    color: #345574;
}

.btcolor{
    background-color: #345574;
}

span{
    position: absolute;
    margin-left: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(42, 56, 165, 0.579);
}

.form-group .form-control {
    padding-left: 2.375rem;
}

.img-entrar{
  max-height: 100%;
  max-height: 100%;

}
