#img-bg {
    background-image: url('../../assets/img/Água1.jpg');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mgb-5{
    align-items: center;
    padding: 60px;
}
.color1 {
    background-color: white;
    opacity:0.9;
    border-radius: 25px;
}

.t-color{
    color: #345574;
}

.btcolor{
    background-color: #345574;
}