/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.fs-15{
    font-size: 15pt;
}

.fs-45{
    font-size: 45pt;
}

.fs-25{
    font-size: 25pt;
}

.fs-30{
    font-size: 30pt;
}

.btn-blue{
    background-color: rgb(124, 174, 218) !important;
}

.borda{
    border: 3px solid rgb(75, 108, 184);
    margin: auto;
}

.size-card{
    height: 530px;
}

.navbar-paddin {
    padding-top: 80px;
}

.bg-cg-100{
    background-color: var(--cg-100);
  }

  .py-50{
    padding: 7rem 0;
  }

  