<div class="container-fluid bg-nav">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top color-verde">
        <div class="row">
            <a class="navbar-brand t-azul ml-2 font-weight-bold" href="#topo" id="topo"><img
                    src="../../assets/img/iconSocialGuide/345574.png" class="ml-5 " height="50px" width="50px"
                    alt="Logo Social Guide">Social Guide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse d-flex justify-content-center font-weight-bolder">
            <div class="navbar-nav">
                <a class="nav-link t-azul nav-link-ltr" href="#ods">ODS</a>
                <a class="nav-link t-azul nav-link-ltr" href="#nossoProposito">Nosso propósito</a>
                <a class="nav-link t-azul nav-link-ltr" href="#parceiros">Parceiros</a>
                <a class="nav-link t-azul nav-link-ltr" href="#autoras">Autoras</a>
            </div>
        </div>

        <div class="row d-flex justify-content-end m-0 align-items-center">
            <a class="mr-3 nav-link t-azul nav-link-ltr font-weight-bold" routerLink="/cadastrar">Cadastrar</a>
            <button class="btn btn-entrar mr-3 button-login font-weight-bold" routerLink="/entrar">Entrar</button>
        </div>
    </nav>

    <div class="row navbar-paddin" id="img-bg-top">
        <div class="col-md-12 text-white text-center layer">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1 class="fs-45 mt-4 mb-5">Bem-vinde ao seu</h1>
                    <h1 class="fs-54 mb-5">Guia Social</h1>
                    <h5 class="fs-15 text-white font-italic">Aqui você fica por dentro de dicas e conscientização
                    </h5>
                    <h5 class="fs-15 text-white font-italic">da gestão sustentável da água e saneamento para todes!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-12">
                    <button class="btn t-nav btn-nav mr-2" routerLink="/cadastrar">Venha fazer parte da nossa
                        comunidade!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumbotron -->
    <div id="ods" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5">
                <h3 class="fs-30 font-weight-bold t-azul">ODS 6</h3>
                <h5 class="font-italic">Água potável e saneamento</h5>
                <p class="mt-4">Garantir disponibilidade e manejo sustentável da água e saneamento para todos,
                    especificamente aborda
                    os desafios relacionados à universalização do acesso ao saneamento básico.</p>
            </div>
            <div class="col-md-7">
                <img src="../../assets/img/img-inicio/img1.png" class="img-fluid max-width: 150% layerImg1" alt="ods 6">
            </div>
        </div>
    </div>

    <!-- Jumbotron -->
    <div id="nossoProposito" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <img src="../../assets/img/img-inicio/img2.png" class="img-fluid max-width: 150% layerImg1"
                    alt="proposito">
            </div>
            <div class="col-md-5">
                <h3 class="text-right fs-30 font-weight-bold t-azul">Nosso Propósito</h3>
                <p class="text-right mt-4">Fazer uma rede social, onde as pessoas podem ver matérias sobre o assunto
                    escolhido que foi: Desinformação sobre saneamento e impactos que causa, baseado na ODS 6. Assim,
                    podendo compartilhar dicas para propagar o conhecimento e saber os perigos da falta de saneamento,
                    além disto uma vertente para ONGs e apoiadores do projeto. </p>
            </div>

        </div>
    </div>

    <!-- Jumbotron -->
    <div id="parceiros" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">

        <h3 class="text-center padding-b fs-30 font-weight-bold t-azul">Parceiros</h3>
        <div class="row d-flex justify-content-center">

            <div class="col-md-12 d-flex justify-content-center">

                <div class="card shadow p-3 card-parceiros1 bg-white rounded">
                    <div class="card-img-top container-image">
                        <img class="image" src="../../assets/img/Parceiros/Água Limpa.jpeg" width="150px"
                            alt="parceiro1">
                        <div class="overlay">
                            <div class="text">Água limpa distribui filtros para populações que sofrem com falta de água
                                tratada.</div>
                        </div>
                    </div>

                    <div class="card-body mt-3">
                        <h5 class="card-title t-azul">Água Limpa</h5>
                        <a class="btn-parceiro mt-2 card-text font-weight-bold"
                            href="https://agualimpa.herokuapp.com/">Site</a>
                    </div>
                </div>

                <div class="card shadow p-3 card-parceiros1 bg-white rounded">
                    <div class="card-img-top container-image">
                        <img class="image1" src="../../assets/img/Parceiros/Generation.webp" width="150px"
                            alt="parceiro1">
                        <div class="overlay">
                            <div class="text">Preparamos e apoiamos pessoas a conquistarem carreiras que vão mudar suas
                                vidas.</div>
                        </div>
                    </div>

                    <div class="card-body mt-3">
                        <h5 class="card-title t-azul">Generation</h5>
                        <a class="btn-parceiro mt-2 card-text font-weight-bold"
                            href="https://agualimpa.herokuapp.com/">Site</a>
                    </div>
                </div>

                <div class="card shadow p-3 card-parceiros1 bg-white rounded">
                    <div class="card-img-top container-image">
                        <img class="image2" src="../../assets/img/Parceiros/Recicla.jpeg" width="150px"
                            alt="parceiro1">
                        <div class="overlay">
                            <div class="text">Reduza, Reuse e Recicle: Repense!</div>
                        </div>
                    </div>

                    <div class="card-body mt-3">
                        <h5 class="card-title t-azul">Reciclo</h5>
                        <a class="btn-parceiro mt-2 card-text font-weight-bold"
                            href="https://agualimpa.herokuapp.com/">Site</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jumbotron -->
        <div id="autoras" class="jumbotron jumbotron-fluid bg-transparent">
            <div class="container">
                <h1 class="display-4"></h1>
                <p class="lead"></p>
            </div>
        </div>

        <h3 class="text-center padding-b fs-30 font-weight-bold t-azul">Autoras do projeto</h3>
        <div class="card-deck">

            <div class="card shadow p-3 card-autoras bg-white">
                <img class="card-img-top" src="../../assets/img/Autoras/Luana Nascimento.jpg" alt="Luana Nascimento">
                <div class="card-body">
                    <h5 class="card-title text-center">Luana Nascimento</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://github.com/luanaadn" class="card-text" target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/luanaadn/" class="card-text" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 card-autoras bg-white">
                <img class="card-img-top" src="../../assets/img/Autoras/Luiza Lima.jpg" alt="Luiza Lima">
                <div class="card-body">
                    <h5 class="card-title text-center mt-3 mb-3">Luiza Lima</h5>
                    <div class="d-flex justify-content-center contato">
                        <a href="https://github.com/M4ppu" class="card-text"  target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/luizalim4/" class="card-text"  target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 card-autoras bg-white">
                <img class="card-img-top" src="../../assets/img/Autoras/Stefany Souza.jpeg" alt="Stefany Souza">
                <div class="card-body">
                    <h5 class="card-title text-center">Stefany Souza</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://github.com/Stefanyrsouza" class="card-text" target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/stefany-souza/" class="card-text" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 card-autoras bg-white">
                <img class="card-img-top" src="../../assets/img/Autoras/Giovanna Becker.jpg" alt="Giovanna Becker">
                <div class="card-body">
                    <h5 class="card-title text-center">Giovanna Becker</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://github.com/Giovanna-Becker" class="card-text" target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/giovanna-becker/" class="card-text" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 card-autoras bg-white">
                <img class="card-img-top" src="../../assets/img/Autoras/Barbara Menezes.jpeg" alt="Barbara Menezes">
                <div class="card-body">
                    <h5 class="card-title text-center">Barbara Menezes</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://github.com/Barbarakmenezes" class="card-text" target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/b%C3%A1rbara-menezes-541843233/" class="card-text" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-transparent mb-0">
            <div class="container">
                <h1 class="display-4"></h1>
                <p class="lead"></p>
            </div>
        </div>
    </div>
</div>

<app-rodape></app-rodape>