<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top color-nav mb">
        <div class="row">
            <a class="navbar-brand text-white ml-5" href="#"><img class="logotipo" src="https://i.imgur.com/ldmBtej.png" alt=""> Social Guide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-white" href="#">Sobre</a>
                <a class="nav-link text-white" href="#">Propósito</a>
                <a class="nav-link text-white" href="#">Parceiros</a>
                <a class="nav-link text-white" href="#">Membros</a>
            </div>
        </div>

        <div class="row d-flex justify-content-end m-0 align-items-center">
            <a class="mr-3 text-white" routerLink="/cadastrar">Cadastrar</a>
            <button class="btn btn-outline-light mr-3" routerLink="/entrar">Entrar</button>
        </div>
    </nav>

    <div class="row bg-secondary d-flex justify-content-center navbar-paddin" id="img-bg-top">

        <div class="col-md-12 text-white text-center">

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1 class="fs-45 mt-0">Bem-vinde ao seu</h1>
                    <h1 class="fs-54 mb-4b">Guia Social</h1>
                    <h5 class="fs-15 font-weight-light font-italic">Aqui você fica por dentro de dicas e conscientização
                    </h5>
                    <h5 class="fs-15 font-weight-light font-italic">da gestão sustentável da água e saneamento para
                        todes!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-12">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova
                        Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
                </div>
            </div>
        </div>


    </div>

    <!-- Jumbotron -->
    <div id="ods" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>ODS 6</h3>
                <h6>Água potável e saneamento</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, unde. Numquam laboriosam odio debitis
                    dolores! Assumenda vitae reiciendis est veritatis nihil et excepturi neque dolorem? Libero adipisci
                    officia praesentium magnam.</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.imgur.com/8yICOFs.jpeg" alt="ods 6" class="image-ods">
            </div>
        </div>
    </div>

    <!-- Jumbotron -->
    <div id="ods" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://i.imgur.com/ydPRWsA.jpeg" alt="proposito" class="image-ods">
            </div>
            <div class="col-md-6 ">
                <h3 class="text-right">Nosso Propósito</h3>
                <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, unde. Numquam
                    laboriosam odio debitis dolores! Assumenda vitae reiciendis est veritatis nihil et excepturi neque
                    dolorem? Libero adipisci officia praesentium magnam.</p>
            </div>

        </div>
    </div>

    <!-- Jumbotron -->
    <div id="ods" class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <h3 class="text-center">Parceiros</h3>

            <div class="col-md-11">

                <div class="container-image">
                  <img src="https://i.imgur.com/dyxQE05.png" alt="parceiro1" class="image">
                  <div class="overlay">
                  <div class="text">O Banco do Brasil é uma sociedade de economia mista que foi reconhecida como uma das 100 corporações mais sustentáveis do mundo.</div>
                  </div>
               </div>

               <div>
               <img class="image-scale" src="https://i.imgur.com/dyxQE05.png" alt="parceiro2">
              </div>

                <div>
                <img class="image-border-radius" src="https://i.imgur.com/dyxQE05.png" alt="parceiro3">
               </div>


                <img src="" alt="parceiro4">
                <img src="" alt="parceiro5">
                <img src="" alt="parceiro6">

            </div>

        </div>
        <!-- Jumbotron -->
        <div id="ods" class="jumbotron jumbotron-fluid bg-transparent">
            <div class="container">
                <h1 class="display-4"></h1>
                <p class="lead"></p>
            </div>
        </div>
        <div class="card-deck">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="card-text"> </p>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="card-text"> </p>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="card-text"> </p>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="card-text"> </p>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="card-text"> </p>
                </div>
            </div>
        </div>
    </div>


</div>
